body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.container {
  max-width: 100%;
  min-width: 320px;
}

.wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 480px) {
  .wrap {
    padding: 0;
  }
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #07b569;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.btn:hover {
  background-color: #019c58;
  color: #fff;
  text-decoration: none;
}

.gray-section {
  padding: 60px 0;
}

a {
  text-decoration: none;
}

h2 {
  margin-bottom: 55px;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
}

@media (max-width: 980px) {
  h2 {
    margin-bottom: 35px;
  }
}

@media (max-width: 768px) {
  h2 {
    margin-bottom: 25px;
  }
}

.header {
  position: relative;
  background: url("../img/header-bg.jpg") center no-repeat;
  background-size: cover;
}

.header::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 80, 131, 0.39)), to(rgba(34, 185, 119, 0.39)));
  background: linear-gradient(to left, rgba(0, 80, 131, 0.39), rgba(34, 185, 119, 0.39));
  z-index: 1;
}

.header__wrap {
  position: relative;
  height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 2;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.header__logo span {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.header__nav {
  display: block;
  margin-left: auto;
  padding-right: 60px;
}

@media (max-width: 870px) {
  .header__nav {
    display: none;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  list-style-type: none;
}

.header__menu .menu__item {
  font-weight: 700;
  white-space: nowrap;
}

.header__menu .menu__item:not(:first-child) {
  margin-left: 30px;
}

.header__menu .menu__item a {
  color: #fff;
}

.header__menu .menu__item a:hover, .header__menu .menu__item a.active {
  text-decoration: underline;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100% - 70px);
  padding-top: 20px;
}

.header__header {
  width: 100%;
  max-width: 900px;
  margin: 0;
  font-size: 3.375rem;
  font-weight: 500;
  text-align: center;
  line-height: 60px;
  color: #fff;
}

.header__header span {
  font-weight: 700;
}

@media (max-width: 650px) {
  .header__header {
    font-size: 34px;
    line-height: 40px;
  }
}

.header__hamburger {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media (min-width: 870px) {
  .header__hamburger {
    display: none;
  }
}

.header .hamburger__btn {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 3px;
  background-color: #fff;
  font-size: 0;
  text-indent: -9999px;
  overflow: hidden;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.header .hamburger__btn:focus {
  outline: none;
}

.header .hamburger__btn span {
  display: block;
  position: absolute;
  top: 18px;
  left: 6px;
  right: 6px;
  height: 4px;
  background-color: #777;
}

.header .hamburger__btn span::before, .header .hamburger__btn span::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #777;
}

.header .hamburger__btn span::before {
  top: -10px;
}

.header .hamburger__btn span::after {
  bottom: -10px;
}

.header .hamburger__x span {
  -webkit-transition: background-color 0 .3s;
  transition: background-color 0 .3s;
}

.header .hamburger__x span::before, .header .hamburger__x span::after {
  -webkit-transition-duration: .3s, .3s;
          transition-duration: .3s, .3s;
  -webkit-transition-delay: .3s, 0;
          transition-delay: .3s, 0;
}

.header .hamburger__x span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
}

.header .hamburger__x span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
}

.header .hamburger__x.active span {
  background-color: transparent;
}

.header .hamburger__x.active span::before, .header .hamburger__x.active span::after {
  -webkit-transition-delay: 0, .3s;
          transition-delay: 0, .3s;
}

.header .hamburger__x.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .hamburger__x.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .hamburger__x.active + .hamburger__nav {
  display: block;
}

.header .hamburger__nav {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
}

.header .hamburger__menu {
  display: block;
  padding: 0;
}

.header .hamburger__menu .menu__item {
  margin: 0;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.header .hamburger__menu .menu__item:hover, .header .hamburger__menu .menu__item.active {
  background-color: #ddd;
}

.header .hamburger__menu .menu__item a {
  display: block;
  padding: 3px 20px;
  color: #000;
}

.header .hamburger__menu .menu__item a:hover {
  text-decoration: none;
}

.about-us {
  padding-top: 120px;
}

@media (max-width: 980px) {
  .about-us {
    padding: 70px 0;
  }
}

@media (max-width: 480px) {
  .about-us {
    padding: 50px 0;
  }
}

.about-us__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .about-us__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-us__img {
  -ms-flex-preferred-size: 43%;
      flex-basis: 43%;
  position: relative;
}

@media (max-width: 768px) {
  .about-us__img {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin: 0 0 1.5rem 0;
  }
}

.about-us__img::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 80, 131, 0.39)), to(rgba(34, 185, 119, 0.39)));
  background: linear-gradient(to left, rgba(0, 80, 131, 0.39), rgba(34, 185, 119, 0.39));
  z-index: 1;
}

.about-us__img img {
  display: block;
  max-width: 100%;
}

.about-us__text {
  -ms-flex-preferred-size: 57%;
      flex-basis: 57%;
  padding-left: 95px;
}

@media (max-width: 980px) {
  .about-us__text {
    padding-left: 30px;
  }
}

@media (max-width: 768px) {
  .about-us__text {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    padding: 0;
  }
}

.about-us__text p {
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 30px;
  color: rgba(27, 27, 27, 0.7);
}

.icons {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .icons {
    padding: 0;
  }
}

.icons__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.icons__element {
  -ms-flex-preferred-size: calc(100%/3 - 15px);
      flex-basis: calc(100%/3 - 15px);
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 25px;
  text-align: center;
}

@media (max-width: 980px) {
  .icons__element {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

@media (max-width: 768px) {
  .icons__element {
    -ms-flex-preferred-size: calc(100%/2 - 15px);
        flex-basis: calc(100%/2 - 15px);
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

@media (max-width: 480px) {
  .icons__element {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
  }
}

.icons__element p {
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 30px;
  letter-spacing: 0.8px;
  color: rgba(29, 29, 29, 0.7);
}

.icons__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 57px;
  margin-bottom: 15px;
}

@media (max-width: 480px) {
  .icons__img {
    margin-bottom: 10px;
  }
}

.icons__img img {
  display: block;
  max-width: 100%;
}

.icons__title {
  margin-bottom: 27px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.9px;
}

@media (max-width: 480px) {
  .icons__title {
    margin-bottom: 15px;
  }
}

.project {
  padding-bottom: 120px;
}

@media (max-width: 768px) {
  .project {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

@media (max-width: 480px) {
  .project {
    padding-top: 20px;
    padding-bottom: 50px;
  }
}

.project__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 768px) {
  .project__elements {
    margin-bottom: 35px;
  }
}

@media (max-width: 480px) {
  .project__elements {
    margin-bottom: 20px;
  }
}

.project__img {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

@media (max-width: 768px) {
  .project__img {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 480px) {
  .project__img {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.project__img img {
  max-width: 100%;
}

.project__btn {
  text-align: center;
}

.comment {
  padding: 95px 0;
  background: -webkit-gradient(linear, left top, right top, from(#005083), to(#22b977));
  background: linear-gradient(to right, #005083, #22b977);
}

@media (max-width: 980px) {
  .comment {
    padding: 70px 0;
  }
}

@media (max-width: 768px) {
  .comment {
    padding: 45px 0;
  }
}

@media (max-width: 480px) {
  .comment {
    padding: 20px 0;
  }
}

.comment__wrap {
  padding: 0 175px;
}

@media (max-width: 980px) {
  .comment__wrap {
    padding: 0 70px;
  }
}

@media (max-width: 768px) {
  .comment__wrap {
    padding: 0 40px;
  }
}

@media (max-width: 480px) {
  .comment__wrap {
    padding: 0;
  }
}

.comment__icon {
  font-size: 100px;
  text-align: center;
  line-height: 80px;
  color: #fff;
}

.comment__post {
  margin-bottom: 30px;
}

.comment__text {
  margin-bottom: 25px;
  font-size: 1rem;
  line-height: 30px;
  text-align: center;
  color: #fff;
}

.comment__name {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.comment__function {
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.comment__carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment__carousel .comment__arrow {
  font-size: 2.5rem;
  color: #9f9f9f;
}

.comment__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment__img {
  width: 45px;
  margin: 0 7px;
}

.comment__img.active {
  width: 70px;
}

.comment__img img {
  width: 100%;
}

@media (max-width: 480px) {
  .comment__img:first-child, .comment__img:last-child {
    display: none;
  }
}

.carousel__item {
  padding: 0 17px;
}

.contacts {
  padding: 120px 0;
}

@media (max-width: 980px) {
  .contacts {
    padding: 70px 0;
  }
}

@media (max-width: 768px) {
  .contacts {
    padding: 45px 0;
  }
}

@media (max-width: 480px) {
  .contacts {
    padding: 20px 0;
  }
}

.contacts__wrap {
  padding: 0 130px;
}

@media (max-width: 980px) {
  .contacts__wrap {
    padding: 0 15px;
  }
}

@media (max-width: 480px) {
  .contacts__wrap {
    padding: 0;
  }
}

.contacts__title {
  text-align: center;
}

.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0 -15px 60px;
}

@media (max-width: 768px) {
  .contacts__info {
    display: block;
    margin: 0 0 30px;
  }
}

.contacts__address {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .contacts__address {
    padding: 0;
  }
}

.contacts__name {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
}

.contacts__main-address {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.7);
}

.contacts__img {
  max-width: 100%;
}

.contacts__img img {
  display: block;
  width: 100%;
}

.contacts__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 20px 15px 0;
}

@media (max-width: 768px) {
  .contacts__form {
    padding: 15px 0 0;
  }
}

.contacts__btn {
  text-align: center;
}

.form__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.form__contacts > div {
  width: 100%;
}

.form__item {
  width: 100%;
  height: 45px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 22px;
}

@media (max-width: 980px) {
  .form__item {
    margin-bottom: 15px;
  }
}

.form__item::-webkit-input-placeholder {
  font-size: 14px;
  color: rgba(65, 61, 75, 0.5);
}

.form__item:-ms-input-placeholder {
  font-size: 14px;
  color: rgba(65, 61, 75, 0.5);
}

.form__item::-ms-input-placeholder {
  font-size: 14px;
  color: rgba(65, 61, 75, 0.5);
}

.form__item::placeholder {
  font-size: 14px;
  color: rgba(65, 61, 75, 0.5);
}

.form__message {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.form__message textarea {
  height: 100%;
  margin-bottom: 0;
  padding-top: 15px;
  resize: none;
}

@media (max-width: 768px) {
  .form__message textarea {
    height: 100px;
  }
}
