body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.container {
  max-width: 100%;
  min-width: 320px;
}

.wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: #07b569;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.btn:hover {
  background-color: #019c58;
  color: #fff;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.header {
  position: relative;
  background: url("../img/header-bg.jpg") center no-repeat;
  background-size: cover;
}

.header::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 80, 131, 0.39)), to(rgba(34, 185, 119, 0.39)));
  background: linear-gradient(to left, rgba(0, 80, 131, 0.39), rgba(34, 185, 119, 0.39));
  z-index: 1;
}

.header__wrap {
  position: relative;
  height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  z-index: 2;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.header__logo span {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.header__nav {
  display: block;
  margin-left: auto;
  padding-right: 60px;
}

@media (max-width: 870px) {
  .header__nav {
    display: none;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  list-style-type: none;
}

.header__menu .menu__item {
  font-weight: 700;
  white-space: nowrap;
}

.header__menu .menu__item:not(:first-child) {
  margin-left: 30px;
}

.header__menu .menu__item a {
  color: #fff;
}

.header__menu .menu__item a:hover, .header__menu .menu__item a.active {
  text-decoration: underline;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100% - 70px);
  padding-top: 20px;
}

.header__header {
  width: 100%;
  max-width: 900px;
  margin: 0;
  font-size: 3.375rem;
  font-weight: 500;
  text-align: center;
  line-height: 60px;
  color: #fff;
}

.header__header span {
  font-weight: 700;
}

@media (max-width: 650px) {
  .header__header {
    font-size: 34px;
    line-height: 40px;
  }
}

.header__hamburger {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media (min-width: 870px) {
  .header__hamburger {
    display: none;
  }
}

.header .hamburger__btn {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 3px;
  background-color: #fff;
  font-size: 0;
  text-indent: -9999px;
  overflow: hidden;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.header .hamburger__btn:focus {
  outline: none;
}

.header .hamburger__btn span {
  display: block;
  position: absolute;
  top: 18px;
  left: 6px;
  right: 6px;
  height: 4px;
  background-color: #777;
}

.header .hamburger__btn span::before, .header .hamburger__btn span::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background-color: #777;
}

.header .hamburger__btn span::before {
  top: -10px;
}

.header .hamburger__btn span::after {
  bottom: -10px;
}

.header .hamburger__x span {
  -webkit-transition: background-color 0 .3s;
  transition: background-color 0 .3s;
}

.header .hamburger__x span::before, .header .hamburger__x span::after {
  -webkit-transition-duration: .3s, .3s;
          transition-duration: .3s, .3s;
  -webkit-transition-delay: .3s, 0;
          transition-delay: .3s, 0;
}

.header .hamburger__x span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
}

.header .hamburger__x span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
  transition-property: bottom, transform, -webkit-transform;
}

.header .hamburger__x.active span {
  background-color: transparent;
}

.header .hamburger__x.active span::before, .header .hamburger__x.active span::after {
  -webkit-transition-delay: 0, .3s;
          transition-delay: 0, .3s;
}

.header .hamburger__x.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .hamburger__x.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .hamburger__x.active + .hamburger__nav {
  display: block;
}

.header .hamburger__nav {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
}

.header .hamburger__menu {
  display: block;
  padding: 0;
}

.header .hamburger__menu .menu__item {
  margin: 0;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.header .hamburger__menu .menu__item:hover, .header .hamburger__menu .menu__item.active {
  background-color: #ddd;
}

.header .hamburger__menu .menu__item a {
  display: block;
  padding: 3px 20px;
  color: #000;
}

.header .hamburger__menu .menu__item a:hover {
  text-decoration: none;
}
