
body
	font-family: "Roboto", sans-serif
	font-size: 1rem
.container
	max-width: 100%
	min-width: 320px
.wrap
	max-width: 1170px
	margin: 0 auto
	padding: 0 15px
.btn
	display: inline-block
	padding: 15px 30px
	background-color: #07b569
	font-size: 1rem
	font-weight: 700
	line-height: 1
	text-decoration: none
	white-space: nowrap
	color: #fff
	transition: background-color .5s
	&:hover
		background-color: #019c58
		color: #fff
		text-decoration: none
a
	text-decoration: none
